@*Moje Grupy -> Konkretna grupa -> Wszystkie semestry w grupie*@
@model StudentNotes.Logic.ViewModels.Group.GroupSemestersModel

<div class="col-xs-12 folder-view">
    <ol class="breadcrumb">
        <li class="active">
            @Ajax.ActionLink(Model.GroupName, "ShowGroupSemesters", "Group",
                    new { Model.GroupId, Model.GroupName },
                    new AjaxOptions()
                    {
                        UpdateTargetId = "page-content",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loading-content"
                    },
                    new {})
        </li>
    </ol>

    @foreach (var item in Model.SemesterList)
    {
        <div class="col-sm-2 col-xs-1 folder">
            <img src="~/Resources/folder-symbol.jpg" class="img-responsive img-rounded"/>
            <div class="folder-name">

                @Ajax.ActionLink(string.Format("Semestr {0}", item.SemesterNumber), "ShowSubjects", "Group",
                 new {item.SemesterId, Model.GroupId, SemesterName = string.Format("Semestr {0}", item.SemesterNumber), Model.GroupName},
                    new AjaxOptions()
                    {
                        UpdateTargetId = "page-content",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loading-content"
                    },
                    new {@class = "folder-name"})


            </div>
        </div>
    }
</div>

